html {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  background-image: url("../images/pattern.jpeg");
  color: khaki;
  font-size: 100px;
  padding: 2px 5px;
  text-align: center;
}

h2 {
  color: white;
  font-size: 32px;
  width: 100%;
}

h3 {
  font-size: 18px
}

p {
    font-size: 14px;
}

.section {
  margin-top: 32px;
}

.price {
  color: blue;
}

#brushSection {
  margin-top: 80px;
}

#brushes {
  background-color: mediumspringgreen;
}
#frames {
  background-color: lightcoral;
}
#paint {
  background-color: skyblue;
  margin-top: 10px;
}
